<!--contact.html-->
{% extends "DimaRedStar/index.html" %}
{% load static %}

{% block content %}
<div class="contact-form">
    <h1>Contact Dima The <span style="font-weight: bold; color: #d80000;">Red Star</span></h1>
    <form method="post">
        {% csrf_token %}
        <label for="full_name">Full Name:</label>
        <input type="text" id="full_name" name="full_name" maxlength="50">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" maxlength="50">
        <label for="phone_number">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" maxlength="15">
        <label for="message">Message:</label>
        <textarea id="message" name="message" maxlength="500"></textarea>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
