<!--index.html-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dima The Red Star</title>
    <link rel="stylesheet" href="{% static 'DimaRedStar/styles.css' %}">
</head>
    <body>

    <div class="header">
        <div class="inner-header">
            <div class="logo-container">
                <h1>Dima's Hobbies</h1>
            </div>
            <ul class="navigation">
                <a href="{% url 'home' %}"><li>Home</li></a>
                <a href="{% url 'bio' %}"><li>Bio</li></a>
                <a href="{% url 'contact' %}"><li>Contact</li></a>
            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>
