<!--index.html-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dima The Red Star</title>
    <link rel="stylesheet" href="{% static 'DimaRedStar/styles.css' %}">
</head>
<body>

<div class="hero-intro">
    <h1>Welcome to the World of Dima "Red Star"</h1>
    <img src="path_to_image.jpg" alt="Dima 'Red Star'" class="hero-image">

    <p>Born in the harsh winters of Siberia, Dima was no ordinary child. His life took a dramatic turn when a mysterious meteorite crashed near his home, imbuing him with superhuman abilities.</p>

    <p>Taking on the alias "Red Star", Dima became a symbol of hope and resilience for his people. His superhero suit is reminiscent of the Soviet era, adorned with the hammer and sickle emblem, symbolizing his dedication to his homeland.</p>

    <p>Red Star has defended the Soviet Union and the world from numerous threats. His heroic deeds have earned him a place among the greatest superheroes of all time.</p>

    <p><a href="bio.html">Learn more about Dima "Red Star"</a></p>
</div>


</body>
</html>
